@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Amount Converter</h1>
    <p>Github repolink <a href="https://github.com/wblackmon/AmountToWords.git">https://github.com/wblackmon/AmountToWords.git</a></p>
</div>
